* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background: #fffffc;
}

header {
  width: 90vw;
  height: 6vh;
  border-radius: 0 0 2vh 2vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  background: #9bf6ff;
}

.logo {
  margin: 0 2vw;
  border-radius: 50%;
  width: 5vh;
  box-shadow: 0 0 2px;
}

.logo:hover {
  width: 5.5vh;
}

.navLink {
  font-size: calc(12px + 1vh);
  margin: 0 2vw;
  text-decoration: none;
  color: black;
}

.navLink:hover {
  color: snow;
}

main {
  width: 88vw;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

.infoBox {
  text-align: center;
  border-radius: 1vh;
}

@media (max-width: 800px) {
  .infoBox {
    height: auto;
    width: 80vw;
    flex-grow: 1;
    margin: 2vh auto;
    padding: 2vh 2vw;
  }
}

@media (min-width: 801px) {
  main {
    display: flex;
  }

  .infoBox {
    height: 60vh;
    width: 25vw;
    flex-grow: 1;
    margin: 3vh 1vw;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
  }

  .infoBox a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  .infoBox h3 {
    margin-bottom: 1vh;
  }
}

.hardSkills {
  background: #caffbf;
}

.point {
  border-radius: 1vw;
  margin-top: 1vh;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  background: #fdffb6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.point:hover {
  box-shadow: 0 0 5px;
}

.softSkills {
  background: #ffc6ff;
}

.expectations {
  background: #a0c4ff;
}

footer {
  width: 90vw;
  height: 6vh;
  border-radius: 10px 10px 0 0;
  background-color: gainsboro;
  margin-left: auto;
  margin-right: auto;
  background: #9bf6ff;
  display: flex;
  align-items: center;
}

.footerText {
  margin-left: auto;
  margin-right: auto;
  font-size: calc(12px + 1vh);
}
